.element {
	height:730px;
    overflow: hidden;
}
.about-us-header {
    margin-top: 60px;
    margin-bottom: 50px;
    text-align: center;
    color: #7a7a7a;
}

.about-us-page {
    overflow: hidden;
}

.contact-header {
    margin-top: 60px;
    margin-bottom: 50px;
    text-align: center;
    color: #7a7a7a;
}

.contact-page {
    overflow: hidden;
}

.background-red {
    background-color: red;
}
.background-blue {
    background-color: blue;
}
.background-yellow {
    background-color: yellow;
}
.background-gray {
    background-color: gray;
}
.background-green {
    background-color: green;
}
.background-aqua {
    background-color: aqua;
}