.element {
	height:800px;
}

.background-red {
    background-color: red;
}
.background-blue {
    background-color: blue;
}
.background-yellow {
    background-color: yellow;
}
.background-pink {
    background-color: orange;
}
.background-gray {
    background-color: gray;
}
.background-green {
    background-color: green;
}
.background-aqua {
    background-color: aqua;
}